---
services:
  nodered:
    image: ghcr.io/chukysoria/nodered:v1.4.18@sha256:026958a732f53f5b9b2d65d62f78573a5d504cc7de656da5aa21bca991f84491
    container_name: nodered
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
      # Node-Red
      NPM_PACKAGES: "node-red-contrib-alexa-smart-home passport-openidconnect"
    networks:
      - frontend
      - nodered-backend
    volumes:
      - ${BASE_PATH:-/volume2/docker/}nodered:/config:rw
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.docker.network: frontend
      traefik.http.routers.nodered-rtr.rule: Host(`nodered.${DOMAIN:-boulebar.duckdns.org}`)

networks:
  frontend:
    external: true # Defined in portainer
  nodered-backend:
    driver: bridge
    name: nodered-backend
