---
services:
  timescale-db:
    image: timescale/timescaledb-ha:pg18-ts2.23@sha256:9a57c7bfb4ea75d4e17357abc1ce96ac1bbbe2a16aacf097620c57f9f9ecacf4
    container_name: timescaledb
    restart: unless-stopped    
    # user: ${PUID:-1029}:${PGID:-65536}
    volumes:
      - ${BASE_PATH:-/volume2/docker/}databases/timescaledb-pg18:/home/postgres/pgdata/data
    networks:
      database:
        ipv4_address: 172.19.0.4
      grafana-net:
      authentik:
      firefly-db-net:
      ghostfolio-db-net:
    # ports:
    #   - 5433:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    environment:
      TZ: ${TZ:-Europe/Madrid}
      POSTGRES_USER: ${TS_USER:-postgres}
      POSTGRES_PASSWORD: ${TS_PASS:?database password required}
      POSTGRES_DB: ${TS_DB:-homeassistant}      

  redis:
    image: redis:8.4.0-alpine@sha256:8371f214b1c2792f9d9ef1077fe2ea37632c8ba087c962b7bc5d8d623aed686a
    container_name: redis
    command: --save 60 1 --loglevel warning
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    volumes:
      - ${BASE_PATH:-/volume2/docker/}databases/redis:/data:uid=${PUID:-1029},gid=${PGID:-65536}
    networks:
      database:
        ipv4_address: 172.19.0.3
      authentik:
      firefly-db-net:
      ghostfolio-db-net:

  pgadmin:
    image: dpage/pgadmin4:9.10@sha256:8c128407f45f1c582eda69e71da1a393237388469052e3cc1e6ae4a475e12b70
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_USER:-user@domain.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD:?PGAdmin password required}
    volumes:
      - pgadmin:/var/lib/pgadmin
      - ${BASE_PATH:-/volume2/docker/}databases/pgadmin/config_local.py:/pgadmin4/config_local.py
    networks:
      frontend:
      database:
        ipv4_address: 172.19.0.5
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "-O", "-", "http://localhost:80/misc/ping"]
      start_period: 2m
      interval: 30s
      retries: 5
      timeout: 3s
      # start_interval: 5s
    labels:
      sablier.enable: "true"
      sablier.group: "pgadmin"
    #  traefik.enable: true
    #  traefik.docker.network: frontend
    #  traefik.http.routers.pgadmin-rtr.rule: Host(`pgadmin.${DOMAIN:-boulebar.duckdns.org}`)

volumes:
  pgadmin:

networks:
  authentik:
    name: authentik
    ipam:
      driver: default
      config:
        - subnet: 172.19.2.0/24
          gateway: 172.19.2.1
  database:
    name: database
    ipam:
      driver: default
      config:
        - subnet: 172.19.0.0/24
          gateway: 172.19.0.1
  grafana-net:
    name: grafana-net
    ipam:
      driver: default
      config:
        - subnet: 172.19.3.0/24
          gateway: 172.19.3.1
  firefly-db-net:
    name: firefly-db-net
    ipam:
      driver: default
      config:
        - subnet: 172.19.8.0/24
          gateway: 172.19.8.1
  ghostfolio-db-net:
    name: ghostfolio-db-net
    ipam:
      driver: default
      config:
        - subnet: 172.19.9.0/24
          gateway: 172.19.9.1
  frontend:
    external: true # Defined in portainer
