---
services:
  timescale-db:
    image: timescale/timescaledb-ha:pg18-ts2.25@sha256:d278e36af297e8869540dd9d528ab75653c79a666247aad444607bf008371399
    container_name: timescaledb
    restart: unless-stopped    
    volumes:
      - ${BASE_PATH:-/volume2/docker/}databases/timescaledb-pg18:/home/postgres/pgdata/data
    networks:
      database:
        ipv4_address: 172.19.0.4
      grafana-db-net:
      authentik-db-net:
      firefly-db-net:
      ghostfolio-db-net:
    # ports:
    #   - 5433:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    environment:
      TZ: ${TZ:-Europe/Madrid}
      POSTGRES_USER: ${TS_USER:-postgres}
      POSTGRES_PASSWORD: ${TS_PASS:?database password required}
      POSTGRES_DB: ${TS_DB:-homeassistant}      

  redis:
    image: redis:8.4.0-alpine@sha256:4eec4565e45aa0b3966554c866bc73211e281b0b3d89fe9a33c982e6faca809d
    container_name: redis
    command: --save 60 1 --loglevel warning
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    volumes:
      - ${BASE_PATH:-/volume2/docker/}databases/redis:/data:uid=${PUID:-1029},gid=${PGID:-65536}
    networks:
      - database
      - firefly-db-net
      - ghostfolio-db-net

  pgadmin:
    image: dpage/pgadmin4:9.11@sha256:50700ac17936d0227f9e3e4bb086a91efb67064debc4b4737c35545bf1564088
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_USER:-user@domain.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD:?PGAdmin password required}
    volumes:
      - pgadmin:/var/lib/pgadmin
      - ${BASE_PATH:-/volume2/docker/}databases/pgadmin/config_local.py:/pgadmin4/config_local.py
    networks:
      - frontend
      - database
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "-O", "-", "http://localhost:80/misc/ping"]
      start_period: 2m
      interval: 30s
      retries: 5
      timeout: 3s
      # start_interval: 5s
    labels:
      sablier.enable: "true"
      sablier.group: "pgadmin"
    #  traefik.enable: true
    #  traefik.docker.network: frontend
    #  traefik.http.routers.pgadmin-rtr.rule: Host(`pgadmin.${DOMAIN:-boulebar.duckdns.org}`)

volumes:
  pgadmin:

networks:
  database:
    name: database
    ipam:
      driver: default
      config:
        - subnet: 172.19.0.0/24
          gateway: 172.19.0.1
  authentik-db-net:
    external: true
  grafana-db-net:
    external: true
  firefly-db-net:
    external: true
  ghostfolio-db-net:
    external: true
  frontend:
    external: true # Defined in portainer
