services:
  importer:
    image: fireflyiii/data-importer:version-1.9.1@sha256:40c843927de8fc92bc636394f7c6d9714ba45efbadbd840eb0b3aec7025b3ba1
    hostname: importer
    restart: always
    container_name: firefly_iii_importer
    env_file:
      - ../../stack.env
    networks:
      - firefly-net
      - firefly-net-frontend 
      - firefly-db-net
    volumes:
      - ${BASE_PATH:-/volume2/docker/}firefly/import:/import:rw
    labels:
      traefik.enable: true
      traefik.docker.network: firefly-net-frontend
      traefik.http.routers.firefly-importer-rtr.rule: Host(`ffimporter.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.firefly-importer-rtr.middlewares: authentik@docker

networks:
  firefly-net:
    external: true # Defined in firefly core
  firefly-net-frontend:
    external: true # Defined in traefik
  firefly-db-net:
    external: true # Defined in databases
