services:
  importer:
    image: fireflyiii/data-importer:version-2.1.1@sha256:04a503ffb811d384b5b5d00766fb4efe2584c8a5bf48dac80f247d8c3fa19018
    hostname: importer
    restart: always
    container_name: firefly_iii_importer
    env_file:
      - ../../stack.env
    networks:
      - firefly-net
      - firefly-frontend-net
      - firefly-db-net
    volumes:
      - ${BASE_PATH:-/volume2/docker/}firefly/import:/import:rw
    labels:
      traefik.enable: true
      traefik.docker.network: firefly-frontend-net
      traefik.http.routers.firefly-importer-rtr.rule: Host(`ffimporter.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.firefly-importer-rtr.middlewares: authentik@docker

networks:
  firefly-net:
    external: true # Defined in base
  firefly-frontend-net:
    external: true # Defined in base
  firefly-db-net:
    external: true # Defined in base
