services:
  app:
    image: fireflyiii/core:version-6.4.19@sha256:0a79624519cbbe6b995c084f39c15f7119fef8f81c21fbb324d29a599f9e2c82
    hostname: app
    container_name: firefly_iii_core
    networks:
      - firefly-net
      - firefly-frontend-net
      - firefly-db-net
      - nodered-backend-net
    restart: always
    env_file:
      - ../../stack.env
    volumes:
      - firefly_iii_upload:/var/www/html/storage/upload
    labels:
      traefik.enable: true
      traefik.docker.network: firefly-frontend-net
      traefik.http.routers.fireflyiii-rtr.rule: Host(`firefly.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.fireflyiii-rtr.middlewares: authentik@docker

  firefly-pico:
    image: cioraneanu/firefly-pico:1.10.1@sha256:07fe7b6e420d9c4f0da513c653c5a44a65eab3b91f3d7486da32e1287dd943e7
    container_name: firefly_pico
    environment:
      - FIREFLY_URL=http://app:8080
      - DB_CONNECTION=pgsql
      - DB_HOST=timescaledb
      - DB_PORT=5432
      - DB_DATABASE=firefly-pico
      - DB_USERNAME=firefly-pico
      - DB_PASSWORD=${PG_PICO_PASS:?Firefly Pico DB Password}
      - TZ=${TZ:-Europe/Madrid}
    networks:
      - firefly-net
      - firefly-frontend-net
      - firefly-db-net
    depends_on:
      - app
    labels:
      sablier.enable: "true"
      sablier.group: "firefly-pico"
    #  traefik.enable: true
    #  traefik.docker.network: firefly-net-frontend
    #  traefik.http.routers.firefly-pico-rtr.rule: Host(`ffpico.${DOMAIN:-boulebar.duckdns.org}`)
    #  traefik.http.services.firefly-pico-svc.loadbalancer.server.port: 80

  cron:
    image: ghcr.io/chukysoria/baseimage-alpine:v1.0.4-3.23@sha256:c796966831b0a928730dcd6abf6f0cbba3219e00454d0c77611945409e1f27f8
    networks:
      - firefly-net
    restart: unless-stopped
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
      DOCKER_MODS: "linuxserver/mods:universal-cron|linuxserver/mods:universal-package-install|ghcr.io/chukysoria/tailscale-mod:v1.1.5"
      INSTALL_PIP_PACKAGES: ${INSTALL_PIP_PACKAGES:-}
      INSTALL_PACKAGES: ${INSTALL_PACKAGES:-}
      # Tailscale
      TAILSCALE_AUTHKEY: ${TAILSCALE_AUTHKEY:?Tailscale Authorization key}
      TAILSCALE_USE_SSH: 1
      TAILSCALE_STATE_DIR: /tsconfig
      TAILSCALE_HOSTNAME: firefly-cron
    volumes:
      - ${BASE_PATH:-/volume2/docker/}firefly/cron:/config/crontabs:rw
      - ts_ff_cron:/tsconfig

volumes:
   firefly_iii_upload:
   ts_ff_cron:

networks:
  firefly-net:
    external: true # Defined in base
  firefly-frontend-net:
    external: true # Defined in base
  firefly-db-net:
    external: true # Defined in base
  nodered-backend-net:
    external: true # Defined in base
