---
volumes:
  ts_vaultwarden:

services:
  vaultwarden:
    image: ghcr.io/chukysoria/vaultwarden:v0.5.35@sha256:4084fd880fc3260a1cc7dc1911288eb80839d0e0cace0113f2e062968168841a
    networks:
      - frontend
    volumes:
      - ts_vaultwarden:/tsconfig
      - ${BASE_PATH:-/volume2/docker/}vaultwarden:/app/vw/data:rw
    environment:
      # General LinuServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
      DOCKER_MODS: ghcr.io/chukysoria/tailscale-mod:v1.1.5
      # Tailscale
      TAILSCALE_AUTHKEY: ${TAILSCALE_AUTHKEY:?Tailscale Authorization key}
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_FUNNEL: 1
      TAILSCALE_USE_SSH: 1
      TAILSCALE_STATE_DIR: /tsconfig
      TAILSCALE_HOSTNAME: vw
      TAILSCALE_SERVE_PORT: 7979
      # Vaultwarden
      ROCKET_PORT: 7979
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vaultwarden.rule=Host(`vw.${DOMAIN:-boulebar.duckdns.org}`)"
    restart: unless-stopped

networks:
  frontend:
    external: true # Defined in Portainer
