---
services:
  grocy:
    image: lscr.io/linuxserver/grocy:v4.5.0-ls315@sha256:aeb5cae9c69bf528f43c7917b5e69ec6ccc6b90a5261a335c9690a4b185e8940
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    volumes:
      - ${BASE_PATH:-/volume2/docker/}grocy:/config
    networks:
      - frontend
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "80"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 2m
      # start_interval: 5s
    labels:
      traefik.enable: true
      traefik.http.routers.grocy-rtr.rule: Host(`grocy.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.grocy-rtr.middlewares: authentik@docker
      traefik.http.routers.grocy-api-rtr.rule: Host(`grocy-api.${DOMAIN:-boulebar.duckdns.org}`) && PathPrefix(`/api`)


networks:
  frontend:
    external: true
