---
services:
  grocy:
    image: lscr.io/linuxserver/grocy:v4.5.0-ls311@sha256:d2c5caef6ad4646e87884f4a8fd1d2e638e20350836e3acab600dd8110f42ad7
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    volumes:
      - ${BASE_PATH:-/volume2/docker/}grocy:/config
    networks:
      frontend:
      grocy-net:
        ipv4_address: 172.19.4.2
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "80"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 2m
      # start_interval: 5s
    labels:
      sablier.enable: "true"
      sablier.group: "grocy"
    #  traefik.enable: true
    #  traefik.http.routers.grocy-rtr.rule: Host(`grocy.${DOMAIN:-boulebar.duckdns.org}`)
    #  traefik.http.routers.grocy-rtr.middlewares: authentik@docker
    #  traefik.http.routers.grocy-api-rtr.rule: Host(`grocy-api.${DOMAIN:-boulebar.duckdns.org}`) && PathPrefix(`/api`)


networks:
  frontend:
    external: true
  grocy-net:
    name: grocy-net
    ipam:
      driver: default
      config:
        - subnet: 172.19.4.0/24
          gateway: 172.19.4.1  
