---
services:
  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4.10291-ls293@sha256:6d3e68474ea146f995af98d3fb2cb1a14e2e4457ddaf035aa5426889e2f9249c
    volumes:
      - ${BASE_PATH:-/volume2/docker/}radarr:/config:rw
      - /volume2/downloads:/media/downloads
      - /volume2/video:/media/video
    networks:
      - frontend
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    healthcheck:
      test: ["CMD", "/etc/s6-overlay/s6-rc.d/svc-radarr/data/check"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 2m
      # start_interval: 5s
    labels:
      sablier.enable: "true"
      sablier.group: "radarr"
    #  traefik.enable: true
    #  traefik.http.routers.radarr-rtr.rule: Host(`radarr.${DOMAIN:-boulebar.duckdns.org}`)
    #  traefik.http.routers.radarr-rtr.middlewares: authentik@docker
    restart: unless-stopped

  sonarr:
    image: ghcr.io/chukysoria/sonarr:v0.5.20@sha256:bb64147ec67c9562b630ebf202fff0e64c726efa8902038c209d0178a8925866
    volumes:
      - ${BASE_PATH:-/volume2/docker/}sonarr:/config:rw
      - /volume2/downloads:/media/downloads
      - /volume2/video:/media/video
    networks:
      - frontend
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    labels:
      traefik.enable: true
      traefik.http.routers.sonarr-rtr.rule: Host(`sonarr.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.sonarr-rtr.middlewares: authentik@docker
    restart: unless-stopped

  bazarr:
    image: ghcr.io/chukysoria/bazarr:v0.8.26@sha256:1f3d4df2319f57c382e5c31223335f13dfeacd454ff6b911f949c486f431843a
    volumes:
      - ${BASE_PATH:-/volume2/docker/}bazarr:/config:rw
      - /volume2/downloads:/media/downloads
      - /volume2/video/Series:/media/video/Series
      - /volume2/video/Pelis:/media/video/Pelis
    networks:
      - frontend
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    labels:
      traefik.enable: true
      traefik.http.routers.bazarr-rtr.rule: Host(`bazarr.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.bazarr-rtr.middlewares: authentik@docker
    restart: unless-stopped

  prowlarr:
    image: ghcr.io/chukysoria/prowlarr:v0.9.33@sha256:f9e7a5c91c8644f4d58a45b44057df28f8c4d12f14c44882edc75a83f31c69db
    networks:
      - frontend
    volumes:
      - ${BASE_PATH:-/volume2/docker/}prowlarr:/config:rw
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    labels:
      traefik.enable: true
      traefik.http.routers.prowlarr-rtr.rule: Host(`prowlarr.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.prowlarr-rtr.middlewares: authentik@docker
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr:3.1.0.4875-ls20@sha256:37a3df74f4c2a6f10eead66f4d8034362ebf2866f935026b4a71dd888b9e7f08
    networks:
      - frontend
    volumes:
      - ${BASE_PATH:-/volume2/docker/}lidarr:/config
      - /volume2/video/torrents/:/downloads
      - /volume2/music:/media/music
    healthcheck:
      test: ["CMD", "/etc/s6-overlay/s6-rc.d/svc-lidarr/data/check"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 2m
      # start_interval: 5s
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    labels:
      sablier.enable: "true"
      sablier.group: "lidarr"
    #  traefik.enable: true
    #  traefik.http.routers.lidarr-rtr.rule: Host(`lidarr.${DOMAIN:-boulebar.duckdns.org}`)
    #  traefik.http.routers.lidarr-rtr.middlewares: authentik@docker
    restart: unless-stopped

  huntarr:
    image: ghcr.io/plexguide/huntarr:9.4.2@sha256:45c909a535be70f9355abc13b8b13460946bd0b5da31c121d7800ef5599f3ff1
    volumes:
      - ${BASE_PATH:-/volume2/docker/}huntarr:/config:rw
    networks:
      - frontend
    environment:
      # Common variables
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    labels:
      traefik.enable: true
      traefik.http.routers.huntarr-rtr.rule: Host(`huntarr.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.huntarr-rtr.middlewares: authentik@docker
    restart: unless-stopped

  whisparr:
    image: ghcr.io/hotio/whisparr:v3-3.0.2.1433@sha256:51d3b0b952a0a502ba052704327adbf8885dd02fd39ff9aa434ed63609c75f4f
    networks:
      - frontend
    environment:
      # Common variables
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
      UMASK: 002
    volumes:
      - ${BASE_PATH:-/volume2/docker/}whisparr:/config:rw
      - /volume2/video:/media/video
    labels:
      traefik.enable: true
      traefik.http.routers.whisparr-rtr.rule: Host(`whisparr.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.whisparr-rtr.middlewares: authentik@docker
    restart: unless-stopped

networks:
  frontend:
    external: true # Defined in Portainer
