---
services:
  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4.10291-ls292@sha256:f08dda38e7d12e5a722d9a5cb6e54acaf63c8598fefeefec88effe0c0d0038dd
    volumes:
      - ${BASE_PATH:-/volume2/docker/}radarr:/config:rw
      - /volume2/downloads:/media/downloads
      - /volume2/video:/media/video
    networks:
      - frontend
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    healthcheck:
      test: ["CMD", "/etc/s6-overlay/s6-rc.d/svc-radarr/data/check"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 2m
      # start_interval: 5s
    labels:
      sablier.enable: "true"
      sablier.group: "radarr"
    #  traefik.enable: true
    #  traefik.http.routers.radarr-rtr.rule: Host(`radarr.${DOMAIN:-boulebar.duckdns.org}`)
    #  traefik.http.routers.radarr-rtr.middlewares: authentik@docker
    restart: unless-stopped

  sonarr:
    image: ghcr.io/chukysoria/sonarr:v0.5.19@sha256:8771a9ad69b1e521516fb4a5c4c211cfb70ac9d0b1ef64c5fdf838f86f1ba96d
    volumes:
      - ${BASE_PATH:-/volume2/docker/}sonarr:/config:rw
      - /volume2/downloads:/media/downloads
      - /volume2/video:/media/video
    networks:
      - frontend
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    labels:
      traefik.enable: true
      traefik.http.routers.sonarr-rtr.rule: Host(`sonarr.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.sonarr-rtr.middlewares: authentik@docker
    restart: unless-stopped

  bazarr:
    image: ghcr.io/chukysoria/bazarr:v0.8.25@sha256:7137fe475628c25970ac8145bf7a4ab94773646ccc4c4d4505d0d2cae13fcbf9
    volumes:
      - ${BASE_PATH:-/volume2/docker/}bazarr:/config:rw
      - /volume2/downloads:/media/downloads
      - /volume2/video/Series:/media/video/Series
      - /volume2/video/Pelis:/media/video/Pelis
    networks:
      - frontend
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    labels:
      traefik.enable: true
      traefik.http.routers.bazarr-rtr.rule: Host(`bazarr.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.bazarr-rtr.middlewares: authentik@docker
    restart: unless-stopped

  prowlarr:
    image: ghcr.io/chukysoria/prowlarr:v0.9.32@sha256:76154eef2a556ebbcf5dc04667b978232a80c75954bade2f3abdb3a0b927442a
    networks:
      - frontend
    volumes:
      - ${BASE_PATH:-/volume2/docker/}prowlarr:/config:rw
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    labels:
      traefik.enable: true
      traefik.http.routers.prowlarr-rtr.rule: Host(`prowlarr.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.prowlarr-rtr.middlewares: authentik@docker
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr:3.1.0.4875-ls20@sha256:37a3df74f4c2a6f10eead66f4d8034362ebf2866f935026b4a71dd888b9e7f08
    networks:
      - frontend
    volumes:
      - ${BASE_PATH:-/volume2/docker/}lidarr:/config
      - /volume2/video/torrents/:/downloads
      - /volume2/music:/media/music
    healthcheck:
      test: ["CMD", "/etc/s6-overlay/s6-rc.d/svc-lidarr/data/check"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 2m
      # start_interval: 5s
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    labels:
      sablier.enable: "true"
      sablier.group: "lidarr"
    #  traefik.enable: true
    #  traefik.http.routers.lidarr-rtr.rule: Host(`lidarr.${DOMAIN:-boulebar.duckdns.org}`)
    #  traefik.http.routers.lidarr-rtr.middlewares: authentik@docker
    restart: unless-stopped

  huntarr:
    image: ghcr.io/plexguide/huntarr:9.2.3@sha256:d23614d775dc8f9cc2c5d89c0d51ff1d2d6b692203897226993f76b2b43074ff
    volumes:
      - ${BASE_PATH:-/volume2/docker/}huntarr:/config:rw
    networks:
      - frontend
    environment:
      # Common variables
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    labels:
      traefik.enable: true
      traefik.http.routers.huntarr-rtr.rule: Host(`huntarr.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.huntarr-rtr.middlewares: authentik@docker
    restart: unless-stopped

  whisparr:
    image: ghcr.io/hotio/whisparr:v3-3.0.2.1433@sha256:51d3b0b952a0a502ba052704327adbf8885dd02fd39ff9aa434ed63609c75f4f
    networks:
      - frontend
    environment:
      # Common variables
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
      UMASK: 002
    volumes:
      - ${BASE_PATH:-/volume2/docker/}whisparr:/config:rw
      - /volume2/video:/media/video
    labels:
      traefik.enable: true
      traefik.http.routers.whisparr-rtr.rule: Host(`whisparr.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.whisparr-rtr.middlewares: authentik@docker
    restart: unless-stopped

networks:
  frontend:
    external: true # Defined in Portainer
