---
services:
  gluetun:
      image: qmcgaw/gluetun:v3.40.1@sha256:dc38bac12b40bb935e477f0dbd88adf174001c84b144c86648b25ff5f14ef54a
      container_name: gluetun
      cap_add:
        - NET_ADMIN
      devices:
        - /dev/net/tun:/dev/net/tun
      volumes:
        - ${BASE_PATH:-/volume2/docker/}gluetun:/gluetun
      environment:
        # General LinuxServer.io
        PUID: ${PUID:-1029}
        PGID: ${PGID:-65536}
        TZ: ${TZ:-Europe/Madrid}
        # NordVPN
        VPN_SERVICE_PROVIDER: nordvpn
        VPN_TYPE: wireguard
        SERVER_COUNTRIES: Spain
        WIREGUARD_PRIVATE_KEY: ${WIREGUARD_PRIVATE_KEY:?WireGuard private key}
        FIREWALL_OUTBOUND_SUBNETS: ${FIREWALL_OUTBOUND_SUBNETS:-172.18.0.0/16,192.168.0.0/24} # Frontend and local LAN
      networks:
        - frontend
      labels:
        traefik.enable: true
        traefik.http.routers.qbit-rtr.rule: Host(`qbit.${DOMAIN:-boulebar.duckdns.org}`)
        traefik.http.routers.qbit-rtr.service: qbit-svc
        traefik.http.services.qbit-svc.loadbalancer.server.port: 8080
        traefik.http.routers.qbit-rtr.middlewares: authentik@docker
      restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:5.1.2-r4-ls426@sha256:7034f73a3c6fa4ea40fd67df462939d1665d765231b572523921c98c2db5362e
    #network_mode: "container:gluetun"
    networks:
      - frontend
    ports:
      - 6881:6881
      - 6881:6881/udp
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
      DOCKER_MODS: "ghcr.io/vuetorrent/vuetorrent-lsio-mod:2.10.2"
    volumes:
      - ${BASE_PATH:-/volume2/docker/}qbit:/config:rw
      - /volume2/downloads:/media/downloads
      - /volume2/video/torrents:/media/video/torrents
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "8080"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 2m
      # start_interval: 5s
    labels:
      traefik.enable: true
      traefik.http.routers.qbit-rtr.rule: Host(`qbit.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.qbit-rtr.service: qbit-svc
      traefik.http.services.qbit-svc.loadbalancer.server.port: 8080
      traefik.http.routers.qbit-rtr.middlewares: authentik@docker 
 
  unpackerr:
    image: ghcr.io/hotio/unpackerr:release-0.12.0@sha256:968e7a2c6ba9cd9732208b0e450e0ccbe362d3391447e26f7b8b64591ed1463d
    environment:
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
      UMASK: 002
    volumes:
      - ${BASE_PATH:-/volume2/docker/}unpackerr:/config
      - /volume2/video/torrents:/media/video/torrents
    networks:
      - frontend
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f /app/unpackerr"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 2m
      # start_interval: 5s
    restart: unless-stopped

networks:
  frontend:
    external: true # Defined in Portainer
