---
services:
  adguardhome:
    image: adguard/adguardhome:v0.107.71@sha256:92929135ced2554aaf94706f766a98ad348f211df61b0704e2db7e8498cc00b7
    volumes:
      - ${BASE_PATH:-/volume2/docker/}adguard/conf:/opt/adguardhome/conf:uid=${PUID:-1029},gid=${PGID:-65536}
      - ${BASE_PATH:-/volume2/docker/}adguard/work:/opt/adguardhome/work:uid=${PUID:-1029},gid=${PGID:-65536}
    networks:
      frontend:
      macvlan:
        ipv4_address: 192.168.1.50
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "nslookup",  "google.com", "192.168.1.50"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 2m
      # start_interval: 5s
    labels:
      traefik.enable: true
      traefik.docker.network: frontend
      traefik.http.routers.adguard-rtr.rule: Host(`adguard.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.adguard-rtr.service: adguard-svc
      traefik.http.routers.adguard-rtr.middlewares: authentik@docker
      traefik.http.services.adguard-svc.loadbalancer.server.port: 80

networks:
  frontend:
    external: true # Defined in base compose file
  macvlan:
    external: true # Defined by base compose file