---
volumes:
  ts_jellyfin:

services:
  jellyfin:
    image: ghcr.io/chukysoria/jellyfin:v0.4.66@sha256:c8da963c9bfd283da7db6e0ad5b5a5aecba734adceed4962cc9552ee4bad5a8e
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
      DOCKER_MODS: "ghcr.io/chukysoria/tailscale-mod:v1.1.5"
      # Tailscale
      TAILSCALE_AUTHKEY: ${TAILSCALE_AUTHKEY:?Tailscale Authorization key}
      TAILSCALE_SERVE_MODE: https
      TAILSCALE_USE_SSH: 1
      TAILSCALE_STATE_DIR: /tsconfig
      TAILSCALE_HOSTNAME: jellyfin
      TAILSCALE_SERVE_PORT: 8096
      # Jellyfin
      JELLYFIN_PublishedServerUrl: "https://jellyfin.${DOMAIN:-boulebar.duckdns.org}"
    networks:
      - frontend
    volumes:
      - ts_jellyfin:/tsconfig
      - ${BASE_PATH:-/volume2/docker/}jellyfin:/config:rw
      - /volume2/music:/media/music
      - /volume2/video:/media/video
    restart: unless-stopped
    labels:
      traefik.enable: true
      # Routers
      traefik.http.routers.jellyfin-rtr.rule: Host(`jellyfin.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.jellyfin-rtr.service: jellyfin-svc
      
      traefik.udp.routers.jellyfin-udp-rtr.entrypoints: jellyfin_locate
      traefik.udp.routers.jellyfin-udp-rtr.service: jellyfin-udp-svc

      # Services
      traefik.http.services.jellyfin-svc.loadbalancer.server.port: 8096
      traefik.udp.services.jellyfin-udp-svc.loadbalancer.server.port: 7359

  seerr:
    image: ghcr.io/seerr-team/seerr:v3.1.0@sha256:b35ba0461c4a1033d117ac1e5968fd4cbe777899e4cbfbdeaf3d10a42a0eb7e9
    init: true
    container_name: seerr
    environment:
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
    volumes:
      - ${BASE_PATH:-/volume2/docker/}jellyseerr:/app/config
    networks:
      - frontend
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "5055"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 2m
      # start_interval: 5s
    labels:
      traefik.enable: true
      traefik.http.routers.seerr-rtr.rule: Host(`seerr.${DOMAIN:-boulebar.duckdns.org}`)    
    restart: unless-stopped

networks:
  frontend:
    external: true # Defined in base
