---
services:
  portainer:
    image: portainer/portainer-ee:2.39.0-alpine@sha256:52f5e2096dd1f653f38b2bce1c920ca04ee8b18fef599ae439025f0ff10ca0dd
    networks:
      - frontend
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${BASE_PATH:-/volume2/docker/}portainer:/data:uid=${PUID:-1029},gid=${PGID:-65536}
    restart: always
    dns:
      - 1.1.1.1
      - 8.8.8.8
    ports:
      - 9443:9443 
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9000"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 2m   
    labels:
      traefik.enable: true
      traefik.http.routers.portainer-rtr.rule: Host(`portainer.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.portainer-rtr.service: portainer-svc
      traefik.http.services.portainer-svc.loadbalancer.server.port: 9000

networks:
  frontend:
