---
services:
  traefik:
    image: ghcr.io/chukysoria/traefik:v1.1.46@sha256:5af9336508da70f41bbfda778f484ee6b75d965800cf96d69bc797c57adcffdf
    networks:
      frontend:
      macvlan:
        ipv4_address: 192.168.1.49
      firefly-frontend-net:
    dns:
      - 1.1.1.1
      - 8.8.8.8
    extra_hosts:
      - host.docker.internal:192.168.1.48
    environment:
      # General LinuxServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
      # Traefik
      DUCKDNS_TOKEN: ${DUCKDNS_TOKEN:?DuckDNS API Token}
    volumes:
      - ${BASE_PATH:-/volume2/docker/}certs:/certs:rw
      - ${BASE_PATH:-/volume2/docker/}traefik:/config:rw
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      traefik.enable: true
      # Routers
      traefik.http.routers.traefik-rtr.rule: Host(`traefik.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.traefik-rtr.service: api@internal
      # Middlewares
      traefik.http.routers.traefik-rtr.middlewares: authentik@docker
    restart: unless-stopped


networks:
  frontend:
    external: true # Defined in portainer
  macvlan:
    external: true # Defined in base
  firefly-frontend-net:
    external: true # Defined in base
