---
services:
  duplicati:
    image: ghcr.io/chukysoria/duplicati:v1.0.37@sha256:5ed37f51974390580baebb39dbe98d71d8097eb03151cab4a6c57dad54d23998
    environment:
      # General LinuServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
      # Duplicati
      SETTINGS_ENCRYPTION_KEY: ${DUPLICATI_ENCRYPTION_KEY:?Duplicati Encryption Key}
    networks:
      - frontend
    volumes:
      - ${BASE_PATH:-/volume2/docker/}duplicati:/config
      - ${BASE_PATH:-/volume2/docker/}duplicati:/backups
    labels:
      traefik.enable: true
      traefik.http.routers.duplicati-rtr.rule: Host(`duplicati.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.duplicati-rtr.middlewares: authentik@docker
    restart: unless-stopped

networks:
  frontend:
    external: true # Defined in Portainer
