---
services:
  duplicati:
    image: ghcr.io/chukysoria/duplicati:v1.0.38@sha256:e0290344b5bbc4f801218a8e285ce7dc23560e2956c6144fbc68bc011b9fe40c
    environment:
      # General LinuServer.io
      PUID: ${PUID:-1029}
      PGID: ${PGID:-65536}
      TZ: ${TZ:-Europe/Madrid}
      # Duplicati
      SETTINGS_ENCRYPTION_KEY: ${DUPLICATI_ENCRYPTION_KEY:?Duplicati Encryption Key}
    networks:
      - frontend
    volumes:
      - ${BASE_PATH:-/volume2/docker/}duplicati:/config
      - ${BASE_PATH:-/volume2/docker/}duplicati:/backups
    labels:
      traefik.enable: true
      traefik.http.routers.duplicati-rtr.rule: Host(`duplicati.${DOMAIN:-boulebar.duckdns.org}`)
      traefik.http.routers.duplicati-rtr.middlewares: authentik@docker
    restart: unless-stopped

networks:
  frontend:
    external: true # Defined in Portainer
