name: ghostfolio
services:
  ghostfolio:
    image: ghostfolio/ghostfolio:2.236.0@sha256:d86bb5db5bb455377c8fad2c29f468ca015fbd06df9faf1aa14e2bdc50d8a6c6
    container_name: ghostfolio
    restart: unless-stopped
    init: true
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    labels:
      sablier.enable: "true"
      sablier.group: "ghostfolio"
    #  traefik.enable: true
    #  traefik.docker.network: ghostfolio-net-frontend
    #  traefik.http.routers.ghostfolio-rtr.rule: Host(`ghostfolio.${DOMAIN:-boulebar.duckdns.org}`)
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://localhost:3333/api/v1/health']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ghostfolio-net-frontend
      - ghostfolio-db-net
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - ACCESS_TOKEN_SALT=${GHOSTFOLIO_ACCESS_TOKEN_SALT:?Ghostfolio Access Token Salt}
      - DATABASE_URL=postgresql://ghostfolio:${GHOSTFOLIO_POSTGRES_PASSWORD:?Ghostfolio DB Password}@timescaledb:5432/ghostfolio-db?connect_timeout=300&sslmode=prefer
      - JWT_SECRET_KEY=${GHOSTFOLIO_JWT_SECRET_KEY:?Ghostfolio JWT Secret Key}

networks:
  ghostfolio-net-frontend:
    external: true # Defined in traefik
  ghostfolio-db-net:
    external: true # Defined in databases

