---
services:
  grafana:
    image: grafana/grafana:12.3.1@sha256:2175aaa91c96733d86d31cf270d5310b278654b03f5718c59de12a865380a31f
    networks:
      - frontend
      - grafana-db-net
    security_opt:
      - no-new-privileges:true
    user: ${PUID:-1029}:${PGID:-65536}
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3000/api/health"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 2m
      # start_interval: 5s
    volumes:
      - ${BASE_PATH:-/volume2/docker/}grafana/data:/var/lib/grafana:rw
    environment:
      TZ: ${TZ:-Europe/Madrid}
      # Grafana
      GF_SERVER_ROOT_URL: https://grafana.${DOMAIN:-boulebar.duckdns.org}/
      GF_INSTALL_PLUGINS: grafana-clock-panel,grafana-simple-json-datasource,natel-discrete-panel,grafana-piechart-panel
      GF_AUTH_GENERIC_OAUTH_ENABLED: "true"
      GF_AUTH_GENERIC_OAUTH_NAME: "authentik"
      GF_AUTH_GENERIC_OAUTH_CLIENT_ID: ${GRAFANA_OAUTH_CLIENT_ID:?OAuth Client ID}
      GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: ${GRAFANA_OAUTH_CLIENT_SECRET:?OAuth Client Secret}
      GF_AUTH_GENERIC_OAUTH_SCOPES: "openid profile email"
      GF_AUTH_GENERIC_OAUTH_AUTH_URL: "https://authentik.${DOMAIN:-boulebar.duckdns.org}/application/o/authorize/"
      GF_AUTH_GENERIC_OAUTH_TOKEN_URL: "https://authentik.${DOMAIN:-boulebar.duckdns.org}/application/o/token/"
      GF_AUTH_GENERIC_OAUTH_API_URL: "https://authentik.${DOMAIN:-boulebar.duckdns.org}/application/o/userinfo/"
      GF_AUTH_SIGNOUT_REDIRECT_URL: "https://authentik.${DOMAIN:-boulebar.duckdns.org}/application/o/grafana/end-session/"
      # Optionally enable auto-login (bypasses Grafana login screen)
      GF_AUTH_OAUTH_AUTO_LOGIN: "true"
      # Optionally map user groups to Grafana roles
      GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "contains(groups, 'grafana_admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'"
    restart: unless-stopped
    labels:
      sablier.enable: "true"
      sablier.group: "grafana"
    #  traefik.enable: true
    #  traefik.http.routers.grafana-rtr.rule: Host(`grafana.${DOMAIN:-boulebar.duckdns.org}`)

networks:
  frontend:
    external: true # Defined in portainer
  grafana-db-net:
    external: true # Defined in Database
